<%= form_for(@pedido, html: {class: 'form-horizontal'}) do |f| %>
<div class="box-body">
    <% if @pedido.errors.any? %>
    <div id="error_explanation" class="callout callout-danger">
        <h4>
        <%= pluralize(@pedido.errors.count, "error") %> impidieron que este pedido fuera guardado:</h2>
        <% @pedido.errors.full_messages.each do |message| %>
        <small class=""><i class="glyphicon glyphicon-remove"></i> <%= message %>.</small><br />
        <% end %>
    </div>
    <% end %>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :empresa_id %>
            <%= f.number_field :empresa_id, autofocus: true, placeholder: 'Restaurante', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :orden_numero %>
            <%= f.number_field :orden_numero, autofocus: true, placeholder: 'Nº Orden', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :cliente_id %>
            <%= f.number_field :cliente_id, autofocus: true, placeholder: 'Cliente', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :direccion %>
            <%= f.text_field :direccion, autofocus: true, placeholder: 'Direccion', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :monto_total %>
            <%= f.number_field :monto_total, autofocus: true, placeholder: 'Monto Total', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :usuario_id %>
            <%= f.number_field :usuario_id, autofocus: true, placeholder: 'Usuario', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :repartidor_id %>
            <%= f.number_field :repartidor_id, autofocus: true, placeholder: 'Repartidor designado', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :fecha_pedido %>
            <%= f.text_field :fecha_pedido, autofocus: true, placeholder: 'Fecha de pedido', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= f.label :tiempo_estimado_envio %>
            <%= f.text_field :tiempo_estimado_envio, placeholder: 'Tiempo estimado de envio', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group col-lg-12">
            <%= f.label :recepcionado %>
            <br/ >
            <%= f.check_box :recepcionado, class: 'col-lg-12' %>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group col-lg-12">
            <%= f.label :enviado %>
            <br/ >
            <%= f.check_box :enviado, class: 'col-lg-12' %>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group col-lg-12">
            <%= f.label :entregado%>
            <br/ >
            <%= f.check_box :entregado, class: 'col-lg-12' %>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group col-lg-12">
            <%= f.label :estado%>
            <br/ >
            <%= f.check_box :estado, class: 'col-lg-12' %>
        </div>
    </div>
</div>
<div class="box-footer">
    <%= f.add_nested_fields_link :detalle_pedidos, glyph(:plus_sign) + '  Agregar', class: 'btn btn-primary btn-sm' %>
    <%= button_tag(type: 'submit', class: "btn btn-success btn-sm") do %>
    <span class="fa fa-check"></span> Guardar
    <% end %>  
</div>
<div class="box-body">
    <%= f.nested_fields_for :detalle_pedidos,  layout: :inline do |ff| %>
    <%= ff.hidden_field :pedido_id %>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= ff.number_field :empresa_id, autofocus: true, placeholder: 'Restaurante', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= ff.number_field :plato_id, autofocus: true, placeholder: 'Plato', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= ff.number_field :cantidad, autofocus: true, placeholder: 'Cantidad', class: 'form-control input-sm' %>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group col-lg-12">
            <%= ff.number_field :costo_plato, autofocus: true, placeholder: 'Costo', class: 'form-control input-sm' %>
        </div>
    </div>
    </tr>
    <% end %>
</div>
<% end %>