<%= form_for(@pedido) do |f| %>
<% if @pedido.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>
    <ul>
        <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="form-group col-lg-3">
    <%= f.label :empresa_id %>
    <%= f.number_field :empresa_id, autofocus: true, placeholder: 'Restaurante', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :orden_numero %>
    <%= f.number_field :orden_numero, autofocus: true, placeholder: 'Nº Orden', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :cliente_id %>
    <%= f.number_field :cliente_id, autofocus: true, placeholder: 'Cliente', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :direccion %>
    <%= f.text_field :direccion, autofocus: true, placeholder: 'Direccion', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :monto_total %>
    <%= f.number_field :monto_total, autofocus: true, placeholder: 'Monto Total', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :usuario_id %>
    <%= f.number_field :usuario_id, autofocus: true, placeholder: 'Usuario', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :repartidor_id %>
    <%= f.number_field :repartidor_id, autofocus: true, placeholder: 'Repartidor designado', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :fecha_pedido %>
    <%= f.text_field :fecha_pedido, autofocus: true, placeholder: 'Fecha de pedido', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :tiempo_estimado_envio %>
    <%= f.text_field :tiempo_estimado_envio, placeholder: 'Tiempo estimado de envio', class: 'form-control input-sm' %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :recepcionado %>
    <%= f.check_box :recepcionado %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :enviado %>
    <%= f.check_box :enviado %>
</div>
<div class="form-group col-lg-3">
    <%= f.label :entregado %>
    <%= f.check_box :entregado %>
</div>
</div>
<div class="box-footer">
    <%= f.label :estado %>
    <%= f.check_box :estado %>
    <%= button_tag(type: 'submit', class: "btn btn-success pull-right") do %>
    <span class="fa fa-check"></span> Guardar
    <% end %>   
    <%= f.add_nested_fields_link :detalle_pedidos, glyph(:plus_sign) + '  Agregar', class: 'btn btn-primary btn-sm' %>
    <%= link_to glyph(:refresh)+' Limpiar', "", type: 'reset', class: 'btn btn-default btn-sm' %>
    <%= link_to glyph(:check)+' Guardar', "/pedidos", :onclick=>"document.getElementById('new_pedido').submit()", class: 'btn btn-success btn-sm' %>
</div>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles</h3>
                </div>
                <div class="box-body">
                    
                </div>
                <div class="box-footer"></div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.box -->
</section>
<% end %>