<p id="notice"><%= notice %></p>

<h1>Listing Categoria</h1>

<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th>Empresa</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria.each do |categorium| %>
      <tr>
        <td><%= categorium.menu_id %></td>
        <td><%= categorium.empresa_id %></td>
        <td><%= categorium.nombre %></td>
        <td><%= categorium.estado %></td>
        <td><%= link_to 'Show', categorium %></td>
        <td><%= link_to 'Edit', edit_categorium_path(categorium) %></td>
        <td><%= link_to 'Destroy', categorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorium', new_categorium_path %>
