<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group has-feedback">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email', require: '' %>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Contraseña', require: '' %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                   <% if devise_mapping.rememberable? -%>
                   <%= f.check_box :remember_me %>
                    <%= f.label "Recordarme" %>
                    <% end -%>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <%= button_tag(type: 'submit', class: "btn btn-primary btn-block btn-flat") do %>
                <span class="glyphicon glyphicon-log-in"></span> Entrar
              <% end %>
            </div><!-- /.col -->
          </div>
<% end %>







