@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <img src="~/img/delivery.jpg" alt="DeliverYApp"/>
                <span class="hidden-xs">@User.Identity.GetUserName()</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInLeft">
                <li class="arrow"></li>
                <li><a href="@Url.Action("Index", "Manage")">Editar Perfil</a></li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
