<p id="notice"><%= notice %></p>

<h1>Listing Plato Categoria</h1>

<table>
  <thead>
    <tr>
      <th>Plato</th>
      <th>Categoria</th>
      <th>Menu</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plato_categoria.each do |plato_categorium| %>
      <tr>
        <td><%= plato_categorium.plato_id %></td>
        <td><%= plato_categorium.categoria_id %></td>
        <td><%= plato_categorium.menu_id %></td>
        <td><%= plato_categorium.empresa_id %></td>
        <td><%= link_to 'Show', plato_categorium %></td>
        <td><%= link_to 'Edit', edit_plato_categorium_path(plato_categorium) %></td>
        <td><%= link_to 'Destroy', plato_categorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plato categorium', new_plato_categorium_path %>
