<p id="notice"><%= notice %></p>

<p>
  <strong>Plato:</strong>
  <%= @plato_categorium.plato_id %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @plato_categorium.categoria_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @plato_categorium.menu_id %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @plato_categorium.empresa_id %>
</p>

<%= link_to 'Edit', edit_plato_categorium_path(@plato_categorium) %> |
<%= link_to 'Back', plato_categoria_path %>
