<div class="box-header">
    <h1><i class="glyphicon glyphicon-list"></i>
        Ver datos del cliente <%= link_to glyph(:plus_sign)+' Nuevo Rol', new_rol_path, class: 'btn btn-primary btn-sm pull-right' %>
    </h1>
</div>
<div class="box-body pad table-responsive">

<table class="table table-striped table-hover ">
  <tbody>
    <tr>
      <td>
  <strong>Nombre rol:</strong>
  <%= @rol.nombre_rol %>
      </td>
    </tr>
    <tr>
      <td>
  <strong>Descripcion rol:</strong>
  <%= @rol.descripcion_rol %>
      </td>
    </tr>
    <tr>
      <td>
  <strong>Estado rol:</strong>
  <%= @rol.estado_rol %>
      </td>
    </tr>
    </tbody>
   </table>


<%= link_to glyph(:arrow_left) + ' Volver', roles_path %> | 
<%= link_to glyph(:pencil) + ' Editar', edit_rol_path(@rol) %>
</div>