<p id="notice"><%= notice %></p>

<p>
  <strong>Plato:</strong>
  <%= @plato_categoria.plato_id %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @plato_categoria.categoria_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @plato_categoria.menu_id %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @plato_categoria.empresa_id %>
</p>

<%= link_to 'Edit', edit_plato_categoria_path(@plato_categoria) %> |
<%= link_to 'Back', plato_categorias_path %>
